@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    width: auto;
    font-family:  "Lato", sans-serif;;
    /* background-image: url(./images/pattern-background-desktop.svg);
    background-size: 100% 100vh;
    background-position: top ;
    background-repeat: no-repeat; */
}
p{
    font-weight: 500;
    font-size: 17px;
    color: rgb(90, 87, 87);
    line-height: 1.5;

}

/* Navbar section starts */
.hamburger{
    display: none;
}
.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    position: fixed;
    background-color: rgba(255, 255, 255, 0.801);
    backdrop-filter: blur(10px);
    padding:0  7rem 0 7rem;
    height: 5rem;
    /* background-color: red; */
}
.navbar ul{
    list-style: none;
    display: flex;
    margin-right: 0;
    
}

.navbar li{
    margin-right: 1rem;
    font-size: 15px;
    color: black;
    font-weight: 300;
}
.navbar a{
    text-decoration: none;
}
 .link{
    display: flex;
    color: black;
    font-size: 12px;
    font-weight: 400;

}
.lhs{
    display: flex;
    align-items: center;
}
.sign{
    display: flex;
    justify-content: space-between;
    
}
.sign a{
    color: black;
}

    
.navbar li:hover{
    cursor: pointer;
    color: orange;
    transition-duration: 0.3s;
}
.btn1{
    padding: 0.8rem 1.7rem;
    background-color: white;
    border-radius: 3px;
    border: 0.5px solid  rgba(57, 169, 206, 0.493);
    font-weight: 600;
    
}
.btn2{
    padding: 0.8rem 1.7rem;
    background-color: orange;
    color: white;
    border-radius: 3px;
    border: 0.5px solid orange;
    font-weight: 600;
    margin-left: 1rem;
}
.btn1:hover{
    cursor: pointer;
    transition-duration: 0.3s;
}
.btn2:hover{
    cursor: pointer;
    background-color: rgb(168, 111, 6);
    transition-duration: 0.3s;
}
/* Navbar section ends */

/* Home section starts */
.home{
    display: flex;
    padding:0  7rem 0 7rem;
    align-items: center;
   
}
.home h1{
    margin-top: 9rem;
    margin-bottom: 2rem;
    font-weight: 800;
    font-size: 46px;
}
.home p{
    font-weight: 400;
    /* font-size: 20px; */
    width: 80%;

}
/* .design-text{
    margin-right: 5rem;
} */
.btnvideo{
    margin-top: 2.5rem;
    display: flex;
    align-items: center;
}

.btnvideo button{
   
    padding: 1.2rem 2.5rem;
    border-radius: 3px;
    border: 1px solid orange;
    background-color: orange;
    color: white;
    font-weight: 600;
    font-size: 15px;
    
}
.btnvideo button:hover{
    cursor: pointer;
    background-color: rgb(168, 111, 6);
    transition-duration: 0.3s;
}
.video{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 3rem;
}
.video img{
    width: 20px;

}

.video h5{
    display: inline;
    color: orange;

}
.video a{
    text-decoration-color: orange;
}
.hero{
    display: flex;
    /* align-items: center; */
    justify-content: center;
}
.hero img{
    width: 33rem;
    height: 27rem;
    margin-top: 8rem ;
}
/* Home section ends */

/* Product section  */
.product{
    
    margin-top: 12rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 7rem;
    
}

.product h1{
    font-weight: 800;
    font-size: 45px;
    text-align: center;
    margin: 0 5rem;
    margin-bottom: 3rem;
   
}
.second{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 3rem;
}
.arrow{
    display: flex;
    flex-direction: column;
    margin-right: 1rem;
}
.survey{
    display: flex;
    flex-direction: column;
    margin-right: 1rem;
}
.preference{
    display: flex;
    flex-direction: column;
    margin-right: 1rem;
}
.test{
    display: flex;
    flex-direction: column;
}
.second img{
    width: 75px;
    height: 75px;
}
.second h4{
    font-weight: 600;
    font-size: 19px;
    margin-top: 1rem;
    margin-bottom: 1rem;
}
.product button{
    padding: 1rem 2rem;
    background-color: orange;
    color: white;
    border-radius: 3px;
    border: 1px solid orange;
    font-size: 15px;
    font-weight: 700;
}
.product button:hover{
    cursor: pointer;
    background-color: rgb(168, 111, 6);
    transition-duration: 0.3s;
}
/* Product section ends */

/* Customers section */
.customer{
    display: flex;
    align-items: center;
    margin-top: 9rem;
    padding: 0 7rem;
    /* margin-right: 1rem; */
}
.customer img{
    width: 35rem;
    height: 35rem;
   
}
.customer-text{
    margin-right: 6rem;
}

.customer-text p {
    font-weight: 400;
    margin-bottom: 1.5rem;
    text-align: left;
}
.customer-text h4{
    font-weight: 700;
    font-size: 18px;
    margin-bottom: 0.5rem;
}
.customer-text h1{
    font-weight: 800;
    font-size: 45px;
}
/* Customers section ends */

/* Managers section */
.manager{
    display: flex;
    align-items: center;
    padding: 0 7rem;
    margin-top: 6rem;
 
}
.manager .img-one img{
    width: 35rem;
    height: 35rem;
   
}
.manager-text{
    margin-left: 6rem;
}
.manager-text h4{
   margin-bottom: 1rem;
   font-weight: 700;
   font-size: 19px;
   /* text-align: left; */
}
.manager-text h1{
    margin-bottom: 1rem;
    font-size: 40px;
    font-weight: 800;
}
.manager-text p{
    margin-bottom: 1.5rem;
    font-weight: 400;
}
.tick{
    display: flex;
}
.tick img{
    width: 30px;
    height: 30px;
}
.tick p{
    margin-left: 1rem;
    font-weight: 400;
}
/* Managers section ends*/

/* Marketers section  */
.marketers{
    display: flex;
    align-items: center;
    margin-top: 7rem;
    padding: 0 7rem;
}
.marketers img{
    width: 35rem;
    height: 35rem; 
}
.marketers-text{
    margin-right: 5rem;
    
}
.marketers-text h4{
    margin-bottom: 0.8rem;
    font-weight: 700;
    font-size: 19px;
}
.marketers-text h1{
    font-weight: 800;
    margin-bottom: 0.8rem;
    font-size: 40px;
}
.marketers-text p{
    font-weight: 400;
    margin-bottom: 1rem;
}
/* Marketers section ends */

/* Pricing section */
.pricing{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 7rem;
    margin-top: 17rem;
    
}
.pricing h1{
    text-align: center;
    font-weight: 800;
    margin-bottom: 2rem;
    font-size: 40px;
}
.pricing p{
    font-weight: 400;
    text-align: center;
    color: rgb(104, 136, 184);
    margin:0 8rem;
    margin-bottom: 2.3rem;
    font-size: 18px;
    
}
.pricing button{
    padding: 1rem 2rem;
    background-color: orange;
    color: white;
    font-weight: 700;
    border: 1px solid orange;
    border-radius: 5px;
    font-size: 17px;
}
.pricing button:hover{
   cursor: pointer;
   background-color: rgb(168, 111, 6);
   transition-duration: 0.3s;
}
/* Pricing section ends */

/* Resources section  */
.resources{
    margin-top: 15rem;
    padding: 0 7rem;
    margin-bottom: 15rem;
  
}
.resources h2{
    margin-bottom: 1rem;
    font-weight: 800;
    font-size: 35px;
}
.resources .par1{
    margin-bottom: 2rem;
}
.market{
    display: flex;
}
.market1 img{
    width: 95%;
    height: 14rem;
    margin-bottom: 0.5rem;
    /* margin-right: 1.5rem; */
    border-radius: 8px;
    border-bottom-left-radius: 0%;
    border-bottom-right-radius: 0%;
}
.market1 p{
    margin-bottom: 1rem;
}
.market1 h3{
    font-size: 21px;
   font-weight: 700;
}
.market1 b:hover{
     cursor: pointer;
     color: orange;
     transition-duration: 0.3s;
}
/* Resources section ends */

/* hr section */
hr{
    margin: 0rem 7rem;
    border: 1px solid rgba(241, 238, 238, 0.986);  
}
/* hr section ends */

/* Links section  */
.links{
    display: flex;
    justify-content: space-between;
    padding: 0 7rem;
    margin: 5rem 0;
}
.links h4{
    margin-bottom: 1.5rem;
    font-size: 20px;
}

.links img{
    margin-bottom: 10rem;
}

.links p {
    line-height: 1.7;
 }

 .signup input {
    padding: 1rem 1.5rem;
    margin-bottom: 1rem;
    border-radius: 3px;
    border: 1px solid rgb(240, 233, 233); 
    outline: none;
    font-size: 15px;
    
}
.link input:active{
    box-shadow: 0px 0px 5px 5px orange;
    border: none;

}
  /* .signup input[type=text]:focus {
    box-shadow: 0px 0px 5px 5px rgba(224,207,108,0.904);
    border: none;
 } */
::placeholder{
    color: rgb(104, 136, 184);
}
.signup p{
    font-size: 20px;
    margin-bottom: 0.5rem;
    font-weight: 500;
}

.links button{
    padding: 0.8rem 1.5rem;
    background-color: orange;
    color: white;
    border-radius: 3px;
    border: 1px solid orange;
}
.links button:hover{
    cursor: pointer;
    background-color: rgb(168, 111, 6);
    transition-duration: 0.3s;
}
.about{
     display: flex;
}
.quick{
    margin-right: 7rem;
 }
 .legal{
    margin-right: 7rem;
 }
 .links a{
    text-decoration: none;
    color: rgba(0, 0, 0, 0.589);
}
.links a:hover{
    cursor: pointer;
    color: orange;
}
/*  Links section ends*/

/* Footer section */
footer{
    display: flex;
    margin: 1rem 0;
    padding: 0 7rem;
}
.span{
    margin-left: 38rem;
}
.span a:hover{
   cursor: pointer;
   color: orange;
   transition-duration: 0.3s;
}
/* Footer section ends */


/*
media queries
*/

@media(min-width:320px) and (max-width:480px){
    body{
        margin: auto;
    }
    /* Navbar section */
    .link{
        display: none;

    }
    .sign{
        display: none;
    }
    .hamburger{
        display:flex;
        border: 1px solid black;
        border-radius: 3px;
        
    }
    .navbar{
        padding: 0 3rem;
    }
    /* Navbar section ends*/

    /* Home section */
    .home{
        flex-direction: column;
        padding: 0;
        justify-content: center;
    }
    .home h1{
        text-align: center;
        margin-top: 11rem;
    }
    .home p{
        text-align: center;
        width: 100%;
    }
    .btnvideo{
        flex-direction: column;
    }
    .video{
        margin-left: 0;
        margin-top: 1rem;
    }
    .hero img{
        width: 100%;
        height: 20rem;
        margin-top: 5rem;
    }
    /* Home section ends */

    /* Product section  */
    .product{
        padding: 0;
        margin-top: 5rem;

    }
    .product h1{
        width: 100%;
    }
    .second{
        flex-direction: column;
        align-items: start;
        justify-content: left;
        margin-bottom: 1rem;   
    }
    .arrow{
        margin: 0;
        margin-left: 1rem;
      
    }
    .survey{
        margin: 0;
        margin-left: 1rem;
    }
    .preference{
        margin: 0;
        margin-left: 1rem;
    }
    .test{
        margin: 0;
        margin-left: 1rem;
    }
    .second img{
        margin-left: -1rem;
    }
    /* Product section ends */

    /* Customers section */
    .customer{
        flex-direction: column;
        padding: 0;
    }
    .customer-text{
        margin: 0;
        margin-left: 1rem;
    }
    .customer img{
        width: 100%;
        height: 26rem;
    }
    /* Customers section ends */

    /* Managers section */
    .manager{
        flex-direction: column;
        padding: 0;
        margin-top: 2rem;
    }
    .manager .img-one img{
        width: 100%;
        height: 26rem;
    }
    .manager-text{
        margin-top: 1rem;
        margin-left: 1rem;
    }
    /* Managers section  */

    /* Marketers section */
    .marketers{
        flex-direction: column;
        padding: 0%;

    }
    .marketers-text{
        margin: 0;
        margin-left: 1rem;
        margin-top: 2rem;
        margin-bottom: 1rem;
    }
    .marketers img{
        width: 90%;
        height: 27rem;
    }
    /* Marketers section ends */

    /* Pricing section  */
    .pricing{
        padding: 0;
        margin-top: 6rem;
    }
    .pricing p{
        margin: 0;
        margin-bottom: 2.5rem;
    }
    /* Pricing section ends */

    /* Resources section  */
    .resources{
        padding: 0;
        padding-left: 1rem;
        margin-top: 6rem;
        margin-bottom: 6rem;
    }
    .market{
        flex-direction: column;

    }
    .market1 h3{
         margin-bottom: 2rem;
    }
    .market1 img{
        width: 100%;
    }
    /* Resources section ends */
    hr{
        margin: 0%;
    }
    /* Links section */
    .links{
        flex-direction: column;
        padding: 0%;
        margin:  0;
        margin-top: 4rem;
        margin-bottom: 1rem;
    }
    .about{
       flex-direction: column-reverse
    }
    .links img{
        margin: 0;
        width: 12rem;
        margin-left: 1rem;
        margin-bottom: 2rem;
    }
    .quick{
        margin: 0;
        margin-bottom: 2rem;
        margin-left: 1rem;
    }
    .legal{
        margin: 0;
        margin-bottom: 2rem;
        margin-left: 1rem;

    }
    .signup{
        margin: 0;
        margin-bottom: 2rem;
        margin-left: 1rem;

    }
    /* Links section ends */

    /* Footer section */
    footer{
        flex-direction: column;
        padding: 0;
        text-align: center;
    }
    .span{
        margin: 0;
        margin-top: 0.5rem;
    }
    /* footer section ends  */
}


@media(min-width:481px) and (max-width:575px){

    /* Navbar section */
    .link{
        display: none;
    }
    .sign{
        display: none;
    } 
    .hamburger{
        display:flex;
        padding: 2px 3px;
        border: 1px solid black;
        border-radius: 3px;
        
        
    }
    .navbar{
        padding: 0 3rem;
    }
    /* Navbar section ends */

     /* Home section */
     .home{
        flex-direction: column;
        padding: 0;
        width: 100%;
     }
     .home h1{
        text-align: center;
        width: 100%;
     }
     .home p {
        text-align: center;
        width: 100%;
     }
     .hero{
        margin: 0;
        /* padding: 0; */
     }
     .hero img{
        margin: 0;
        width: 90%;
     }
     .btnvideo{
        justify-content: center;
        margin-bottom: 4rem;
     }
     /* Home section ends */

     /* Product section */
     .product{
        padding: 0;
        margin-top: 5rem;
     }
     .product h1{
        margin: 0;
     }
     .second{
        flex-direction: column;
        align-items: start;
        justify-content: left;
        padding: 0;
        margin-bottom: 1rem;
     }
     .second img{
        margin-left: -1rem;
     }
     .arrow{
        margin: 0;
        margin-left: -3rem;
     }
     .survey{
        margin: 0;
        margin-left: -3rem;
     }
     .preference{
        margin: 0;
        margin-left: -3rem;
     }
     .test{
        margin: 0;
        margin-left: -3rem;
     }
     /* Product section ends */

     /* Customers section */
      .customer{
        flex-direction: column;
        padding: 0;
        margin-top: 7rem;
      }
      .customer img{
        width: 90%;
        height: 30rem;
      }
      .customer-text{
        margin: 0;
        margin-left: 1rem;
      }
      .customer-text h1{
        font-size: 35px;
      }
      /* Customers section ends */

      /* Managers section */
     .manager{
        flex-direction: column;
        padding: 0;
        margin-top: 1rem;
     }
     .manager .img-one img{
        width: 90%;
        height: 30rem;
        margin-left: 1rem;
     }
     .manager-text{
        margin-top: 1rem;
        margin: 0;
        margin-left: 1rem;
     }
     .manager-text h1{
        font-size: 35px;
     }
     /* Managers section ends */

     /* Marketers section */
       .marketers{
        flex-direction: column;
        padding: 0;
        margin-top: 5rem;
       }
       .marketers-text{
        margin: 0;
        margin-left: 1rem;
       }
       .marketers img{
        width: 90%;
        height: 30rem;
       }
       /* Marketers section ends */
    
      /* Pricing section */
      .pricing{
        padding: 0;
        margin-top: 6rem;
      }
      .pricing p{
        margin: 0;
        margin-bottom: 2rem;
      }
      .pricing h1{
          font-size: 35px;
      }
      .pricing button{
        padding: 0.9rem 1.7rem;
        font-weight: 550;
      }
      /* Pricing section ends */
       
     /* Resources section */
      .resources{
        padding: 0;
        margin: 0;
        margin-top: 5rem;
        margin-bottom: 4rem;
      }
      .resources h2{
        margin-bottom: 1rem;
        margin-left: 1rem;
      }
      .resources .par1{
        margin-left: 1rem;
      }
      .market{
        flex-direction: column;
        margin-left: 1rem;
      }
      .market1 img{
        width: 100%;
        /* height: 14rem; */
      }
      .market1 h3{
        margin-bottom: 2rem;
      }
      /* Resources section ends */

      /* Horizontal line */
      hr{
        margin: 0;
      }

      /* Horizontal  line ends*/
      
      /* Links section */
       .links{
        flex-direction: column;
        padding: 0;
        margin: 0;
        margin-top: 3rem;
       }
       .links img{
        margin-left: 1rem;
        width: 40%;
        margin-bottom: 3rem;
       }
       .about{
        flex-direction: column-reverse;
       }
       .quick{
        margin: 0;
        margin-bottom: 2rem;
        margin-left: 1rem;
       }
       .legal{
        margin: 0;
        margin-bottom: 2rem;
        margin-left: 1rem;

       }
       .signup{
        margin: 0;
        margin-bottom: 2rem;
        margin-left: 1rem;

      }
    /* Links section ends */

    /* Footer section  */

    footer{
       flex-direction: column; 
       padding: 0;
       text-align: center;
    }
    .span{
        margin: 0;
        margin-top: 0.5rem;
    }
    /* Footers section ends */
}
@media(min-width:576px) and (max-width:767px){
    /* Navbar section */
    .hamburger{
        display: flex;
        padding: 2px 3px;
        border: 1px solid black;
        border-radius: 3px;
    }
    .link{
        display: none;
    }
    .sign{
        display: none;
    } 
    .navbar{
        padding: 0 5rem;
    }
    /* Navbar section ends */

    /* Home Section */
    .home{
        flex-direction: column;
        padding: 0 5rem;
        width: 100%;
     }
     .home h1{
        text-align: center;
        width: 100%;
     }
     .home p {
        text-align: center;
        width: 100%;
     }
     .btnvideo{
        justify-content: center;
        margin-bottom: 6rem;
     }
     .hero img{
        margin: 0;
        width: 100%;
     }
     /* Home section ends  */


     /* Product section  */
      .product{
        padding: 0 5rem;
        margin-top: 6rem;
      }
      .product h1{
        margin: 0;
        text-align: center;
      }
      .second{
        display: grid;
        grid-template-columns: 1fr 1fr;
        width: 100%;
        justify-content: center;
        margin-bottom: 2rem;
        /* margin-left: 5rem; */
      }
      .second img{
        margin-left: -1rem;
      }
      /* Product section ends */

      /* Customers section */
       .customer{
        padding: 0 5rem;
        flex-direction: column;
       }
       .customer-text h1{
        width: 28rem;
       }
       .customer img{
        width: 90%;
       }
      /* customer section ends */

      /* Managers section */
      .manager{
        flex-direction: column;
        padding: 0 5rem;
      }
      .manager-text{
        margin: 0;
        margin-top: 2rem;
      }
      .manager-text h1{
        width: 28rem;
      }
      /* Managers section ends */

      /* Marketers section */
      .marketers{
        flex-direction: column;
        padding: 0 5rem;
      }

      /* Marketers section ends */

      /* Pricing section */
        .pricing{
            padding: 0 5rem;
            margin-top:8rem ;
        }
        .pricing p{
            margin: 0;
            margin-bottom: 2rem;
        }
        /* Pricing section ends */

        /* Resources section */
        .resources{
            padding: 0 5rem;
            margin-top: 6rem;
            margin-bottom: 7rem;
        }
        .market{
            flex-direction: column;
            width: 95%;
        }
        .market1 h3{
            margin-bottom: 2rem;
        }
        /* Resources section ends*/

        /* Horizontal line */
        hr{
            margin: 0;
        }
        /* Horizontal line ends */

        /* Links section */
        .links{
            flex-direction: column;
            padding: 0 5rem;
            margin: 0%;
            margin-top: 4rem;
        }
         .links img{
            width: 40%;
            margin-bottom: 3rem
         }
        .about{
            flex-direction: column-reverse;
        }
        .signup{
            margin: 0;
            margin-bottom: 2rem;
        }
        .legal{
            margin: 0;
            margin-bottom: 2rem;
        }
        .quick{
            margin: 0;
            margin-bottom: 2rem;
        }
        /* Links section ends */

        /* Footer section */
        footer{
            flex-direction: column;
            padding: 0;
            text-align: center;
        }
        .span{
            margin: 0;
            margin-top: 0.5rem;
        }
        /* Footer section */
}
@media(min-width:768px) and (max-width:991px){
    body{
        margin: auto;
    }
    /* Navbar section */
       .link{
        display: none;
       }
       .sign{
        display: none;
       }
       .hamburger{
        display: flex;
        padding: 2px 3px;
        border: 1px solid black;
        border-radius: 3px;
       }
       .navbar{
         padding: 0 3rem;
       }
       /* Navbar section ends */

       /* Home section */
        .home{
            padding: 0 3rem;
            width: 100%;
        }
        .home h1{
            width: 90%;
        }
        .hero{
            margin: 0;
        }
        .hero img{
            width: 100%;
        }
        /* Home section ends */

        /* Product section */
         .product{
            padding: 0 3rem;
            
         }
         .product h1{
            margin: 0;
            text-align: center;
         }
         .second{
            display: grid;
            grid-template-columns: 1fr 1fr;
            width: 100%;
            justify-content: center;
            margin-bottom: 2rem;
         }
         .second img{
            margin-left: -1rem;
          }

          /* Product section ends */

          /* Customers section */
            .customer{
                padding: 0 3rem;
                flex-direction: column;
            }
            .customer-text h1{
                width: 26rem;
               }
               /* .customer img{
                width: 100%;
               } */

            /* Customer section ends */

            /* Managers section */
            .manager{
                flex-direction: column;
                padding: 0 3rem;
            }
            .manager-text{
                margin: 0;
                margin-top: 2rem;
              }
            .manager-text h1{
                width: 28rem;
            }
            
            /* Managers section ends */
            
            /* Marketers section starts */
            .marketers{
                flex-direction: column;
                padding: 0 3rem;
              }
            /* Marketers section ends */

            /* Pricing section */
             .pricing{
                padding: 0 3rem;
                margin-top: 8rem ;
             }
             .pricing p{
                 margin:0;
                 margin-bottom: 2rem;
             }
            /* Pricing section ends */

            /* Resources section */
            .resources{
                padding: 0 3rem;
                margin-top: 6rem ;
                /* margin-bottom: 7rem; */
            }
            .market{
                width: 100%;
                height: 12rem;
            }
            /* Resources section ends */

            /* Horizontal line */
             hr{
                margin:0 4rem;
             }
             /* Horizontal line ends */

             /* Links section */
             .links{
                flex-direction: column;
                padding: 0 3rem;
                margin:0
                margin-top: 4rem;
            }

            .links img{
                width: 40%;
                margin-bottom: 3rem
             }
            .about{
                display: flex;
            } 
            .signup{
                margin: 0;
                /* margin-right: 2rem; */
            }
            .legal{
                margin: 0;
                margin-right: 10rem;
            }
            .quick{
                margin: 0;
                margin-right: 4rem;
            }
            /* Links section ends */
           
            /* Footer section */
        footer{
            display: flex;
            padding:  0 4rem;
            
        }
        .span{
            margin: 0;
            margin-left: 18rem;
        }
        /* Footer section */
}

@media(min-width:992px) and (max-width:1281px){
    /* Navbar section */
    .navbar{
        padding: 0 3rem;
      }
    /* Navbar section ends */

    /* Home section */
    .home{
        padding: 0 3rem;
    }
    .home h1{
        width: 100%;
    }
    .hero{
        margin: 0;
    }
    /* Home section ends */

    /* Product section */

    .product{
        padding: 0 3rem;
        
     }
     /* Product section ends */

     /* Customers section */
     .customer{
        padding: 0 3rem;
     }
     .customer-text{
        margin: 0;
        width: 100%;
     }
     .customer img{
        width: 80%;
     }
     /* Customers section ends */

     /* Managers section */
     .manager{
        padding: 0 3rem;
     }
     .manager-text{
        margin: 0;
        margin-left: 3rem;
        width: 80%;
     }
     .manager .img-one img{
        width: 100%;
     }
     /* Managers section ends */

     /* Marketers setion */
      .marketers{
        padding: 0 3rem;
      }
      .manager-text{
        margin: 0;
        width: 100%;
      }
      .marketers img{
        width: 50%;
      }
      /* Marketers section ends */

      /* Pricing section */
      .pricing{
        padding: 0 3rem;
      }
      /* Pricing section ends */
      
      /* Resources section ends */
    .resources{
        padding: 0 3rem;
    }
    /* Resources section ends */

     /* Horizontal line */
     hr{
        margin: 0rem 3rem;
     }
     /* Horizontal line ends */

     /* Links section */
     .links{
        padding: 0 3rem;
     }
     /* Links section ends */

     /* Footer section */

     footer{
        padding: 0 3rem;

     }
     .span{
        margin-left: 32rem;
     }
     /* Footer section ends */
}