*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
@font-face {
    font-family: inter;
    src: url(./Inter-VariableFont_opsz\,wght.ttf);
}
body{
    min-width: 100vw;
    font-family: inter;
    
}
p{
    font-size: 13px;
}

.navbar{
    padding: 0.8rem 1rem;
    display: flex;
    text-align: center;
    position: fixed;
    background-color: rgba(230, 243, 255, 0.651);
    /* left: 0; */
}
.navbar img{
    width: 9rem;
    margin-left: 5rem;
    margin-right: 16rem;
}
.navbar ul{
    font-weight: 400;
    font-size: 12px;
    list-style: none;
    margin-top: 0.5rem;
    padding: 0;
}
.navbar li{
  display: inline-block;
  margin-right: 0.8rem;
  color: black;
}
.navbar li:hover{
    cursor: pointer;
    color: orange;
}
.btn1{
    padding: 0.6rem 1.4rem;
    background-color: white;
    border-radius: 3px;
    border: 0.5px solid  rgba(57, 169, 206, 0.493);
    margin-right: 1rem;
    margin-left: 1rem;
    font-weight: 600;
}
.btn2{
    padding: 0.6rem 1.4rem;
    background-color: orange;
    color: white;
    border-radius: 3px;
    border: 0.5px solid orange;
    font-weight: 600;
}
.btn2:hover{
    background-color: rgb(218, 133, 7);
}
.first{
    display: flex;
    align-items: center;
    margin:  0 6rem;
}
.first h1{
    margin-top: 2.5rem;
    margin-bottom: 1.5rem;
    font-weight: 800;
    font-size: 38px;
}
.first p{
    font-weight: 400;
}
.design-text{
    margin: 7rem 7rem 7rem 0;
}
.design-text button{
   
    padding: 1rem 2rem;
    border-radius: 5px;
    border: 1px solid orange;
    background-color: rgb(223, 148, 9);
    color: white;
    font-weight: 700;
    
}
.btnvideo{
    margin-top: 2rem;
    display: flex;
    align-items: center;
}
.btnvideo img{
    width: 20px;
    margin-left: 2rem;
    margin-right: 0.5rem;
    color: orange;
    margin-top: -3rem;

}
.video{
    display: flex;
    align-items: center;
}
.video h5{
    display: inline;
    color: orange;
}
.video a{
    text-decoration-color: orange;
}
.hero{
    display: flex;
    align-items: center;
}
.hero img{
    width: 27rem;
    height: 22rem;
    margin-top: 5rem ;
    margin-left: -4rem;
}
.prod{
    margin: 6rem;
    margin-top: 7rem;
    margin-bottom: 7rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* position: relative; */
    
}
/* .prod::before{
    content: "";
    position: absolute;
    height: 100vh;
    width: 100vw;
    background-image: url(./images/pattern-background-desktop.svg) ;
    background-position: top center;
    background-size: 100% ;
    background-repeat: no-repeat;
} */
.prod h1{
    font-weight: 800;
    font-size: 39px;
    text-align: center;
    margin-left: 8rem;
    margin-right: 8rem;
    /* margin-top: 5rem; */
}
.second{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 1rem;
    margin-bottom: 2rem;
}
.arrow{
    display: flex;
    flex-direction: column;
    margin-right: 1rem;
}
.survey{
    display: flex;
    flex-direction: column;
    margin-right: 1rem;
}
.preference{
    display: flex;
    flex-direction: column;
    margin-right: 1rem;
}
.test{
    display: flex;
    flex-direction: column;
    margin-right: 1rem;
}
.second img{
    width: 60px;
    height: 60px;
    margin-left: -0.8rem;
}
.second h4{
    margin-top: 1rem;
    margin-bottom: 1rem;
}
.prod button{
    padding: 0.7rem 1.5rem;
    background-color: orange;
    color: white;
    border-radius: 5px;
    border: 1px solid orange;
}
.third{
    display: flex;
    align-items: center;
    margin: 6rem;
    margin-top: -2rem;
}
.third img{
    width: 40rem;
    height: 28rem;
    margin-top: 5rem ;
    /* margin-left: -4rem; */
}
.third-text{
    display: flex;
    flex-direction: column;
    /* margin-right: -3rem; */
    margin-top: 1rem;
    padding: 2rem;
    /* padding-right: -10rem; */
}
.third-text p {
    font-weight: 400;
    margin-top: 0.5rem;
    margin-bottom: 1rem;
}
.third-text h4{
    font-weight: 700;
    margin-bottom: 0.5rem;
}
.third-text h1{
    font-weight: 800;
}
.fourth{
    display: flex;
    align-items: center;
    margin: 6rem;
    margin-bottom: 8rem;
    /* margin-top: -2rem; */
}
.fourth .img-one{
    width: 25rem;
    height: 25rem;
   
}
.fourth-text{
    margin-top: -6rem;
    margin-left: 2rem;
    padding: 2rem;
}
.fourth-text h4{
   margin-bottom: 0.5rem;
   font-weight: 700;
   /* text-align: left; */
}
.fourth-text h1{
    margin-bottom: 0.5rem;
}
.fourth-text p{
    margin-bottom: 1rem;
    font-weight: 400;
}

.tick img{
    width: 30px;
    height: 30px;
}
.tick p{
    margin-left: 1rem;
    font-weight: 400;
}
.tick{
    display: flex;
    /* justify-content: space-between; */

}
.fifth{
    display: flex;
    align-items: center;
    margin: 6rem;

}
.fifth img{
    width: 28rem;
    height: 28rem; 
}
.fifth-text{
    margin-top: -4rem;
    padding-right: -8rem;
    margin-right: 3rem;
}
.fifth-text h4{
    margin-bottom: 0.8rem;
    font-weight: 700;
}
.fifth-text h1{
    font-weight: 800;
    margin-bottom: 0.8rem;
}
.fifth-text p{
    font-weight: 400;
    margin-bottom: 1rem;
}
.superhero{
    margin: 13rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.superhero h1{
    font-weight: 800;
    margin-bottom: 2rem;
}
.superhero p{
    font-weight: 400;
    text-align: center;
    color: rgb(104, 136, 184);
    margin-bottom: 2rem;
}
.superhero button{
    padding: 0.7rem 2rem;
    background-color: orange;
    color: white;
    font-weight: 700;
    border: 1px solid orange;
    border-radius: 5px;
}
.strategy{
    margin: 6rem;
    margin-top: -1rem;
    margin-bottom: 11rem;

}
.strategy h2{
    margin-bottom: 1rem;
    font-weight: 800;
    font-size: 27px;
}
.strategy .par1{
    margin-bottom: 2rem;
}
.market{
    display: flex;
}
.market1 img{
    width: 17rem;
    height: 9rem;
    margin-bottom: 0.5rem;
    margin-right: 1.5rem;
    border-radius: 8px;
    border-bottom-left-radius: 0%;
    border-bottom-right-radius: 0%;
}
.market1 p{
    margin-bottom: 1rem;
}
.market1 h3{
   font-weight: 800;
}
.link{
    margin:  3.5rem  6rem;
    display: flex;
    justify-content: space-between;
    margin-bottom: -1rem;
}
.link h4{
    margin-bottom: 1.5rem;
}

.link img{
    margin-bottom: 10rem;
}
.link input {
    padding: 0.6rem 0.8rem;
    /* color: rgb(104, 136, 184); */
    margin-bottom: 1rem;
    border-radius: 3px;
    border: 1px solid;
}
::placeholder{
    color: rgb(104, 136, 184);
}
.signup p{
    font-size: 16px;
    margin-bottom: 1rem;
    font-weight: 500;
}
.link p {
   line-height: 1.5;
}
.link button{
    padding: 0.3rem 0.8rem;
    background-color: orange;
    color: white;
    border-radius: 3px;
    border: 1px solid orange;
}
hr{
    margin: 0 6rem;
    border: 0.5px thin rgba(230, 226, 226, 0.966);
    
}
footer{
    margin: 0.5rem 6rem;
}
.span{
    margin-left: 35rem;
}